@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-roboto min-h-screen  m-0 p-0;
	}
	h1,
	h2,
	h3,
	h4 {
		@apply tracking-header capitalize leading-header mb-3 md:leading-headerBigScreen;
	}
	h1 {
		@apply text-h1 md:text-h1BigScreen;
	}
	h2 {
		@apply text-h2 md:text-h2BigScreen;
	}
	h3 {
		@apply text-h3 md:text-h3BigScreen;
	}
	h4 {
		@apply text-h4 md:text-h4BigScreen;
	}
	button:disabled {
		cursor: not-allowed;
		pointer-events: all !important;
	}
}

@layer components {
	.flex-center {
		@apply flex justify-center items-center;
	}
	.align-element {
		@apply mx-auto max-w-6xl px-8;
	}
	.nav-animation {
		@apply transition delay-150 duration-300 ease-in-out;
	}

	/* NAVBAR */

	.nav-center {
		@apply md:my-0 md:mx-auto md:flex md:justify-between md:items-center py-4 px-6 md:px-16 fixed w-full bg-base-100 z-10;
	}
	.nav-header {
		@apply flex justify-between items-center;
	}
	.nav-toggle {
		@apply text-neutral bg-transparent border-transparent transition delay-100 duration-200 ease-in-out md:hidden;
	}
	.nav-toggle:hover {
		@apply text-primary rotate-90;
	}
	.logo {
		@apply h-10;
	}

	.active-nav {
		@apply font-bold tracking-wider capitalize   md:px-2 md:py-2 md:p-0;
	}

	.links-container {
		@apply nav-animation overflow-hidden md:!h-auto;
	}

	.nav-link {
		@apply py-2 px-2 nav-animation tracking-widest;
	}
	.nav-link:hover {
		@apply text-orange-500;
	}

	/* PAGINATION STYLES */
	.paginationBttns {
		@apply w-4/5 h-[40px] mt-6 mb-4 flex justify-center items-center mx-auto;
	}

	.paginationBttns a {
		@apply p-1 m-1 rounded-lg   border border-primary cursor-pointer;
	}
	.paginationBttns a:hover {
		@apply text-white bg-primary;
	}

	.paginationActive a {
		@apply text-white bg-primary;
	}

	.paginationDisabled a {
		@apply cursor-not-allowed;
	}

	.previousBttn,
	.nextBttn {
		@apply text-primary border-none text-2xl;
	}
}
